* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 275px 1fr;
    grid-template-rows: 150px auto;
}

.sidebar{
    grid-area: 1 / 1 / 3 / 2;
    background-color: #047857;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 300px auto;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.topLinks,
.bottomLinks {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-left: 25px;
    /* justify-content: center; */
}

.bottomLinks {
    margin-top: 50px;
}

.linkContainer{
    display: flex;
    gap: 20px;
}


.header {
    background-color: whitesmoke;
    grid-area: 1 / 2 / 2 / 3;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    padding: 10px 50px;
}

.topHeader {
    grid-area: 1 / 1 / 2 / 2;
    border: 1px solid red;
}

.bottomHeader {
    grid-area: 2 / 1 / 3 / 2;
    display: grid;
    grid-template-columns: 100px 1fr 100px 100px 100px;
    grid-template-rows: 30px 1fr;
    align-items: center;
    border: 1px solid rgb(131, 129, 0);
}

#userIconBig {
    grid-area: 1 / 1 / 3 / 2;
    border: 1px solid red;
}

.greetings {
    grid-area: 1 / 2 / 2 / 3;
    border: 1px solid red;
    font-size: 15px;
    align-self: end;
}

#userAccount {
    grid-area: 2 / 2 / 3 / 3;
    border: 1px solid red;
    font-size: 22px;
    font-weight: bold;
    align-self: start;
}

.headerButton {
    grid-row: 1 / 3;
    background-color:#047857;
    color:white;
    border: none;
    height: 35px;
    width: 90px;
    border-radius: 40px;
    font-weight: bold;
}

.content {
    background-color: rgb(216, 216, 216);
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 25px 10px;
    gap: 15px
}

.projectsContainer {
    grid-area: 2 / 1 / 3 / 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.projectCard {
    border: none;
    border-left: 7px solid orange;
    height: 180px;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 20px;
}

.projectTitle {
    font-size: 17px;
    font-weight: bold;
}

.projectContent{
    font-size: 14px;
    color: grey;
}

.projectAction {
    align-self: right;
}

.trendingPP,
.trendingUser,
.trendingProjectTitle {
    border: 1px solid blue;
}

.icon> img {
    width: 25px;
    height: auto;
}